DEBUG=True
DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/database_name

OPENAI_API_KEY=Your_OpenAI_API_Key
GEMINI_API_KEY=Your_Gemini_API_Key

TARGET_URL=Your_Target_URL
MAX_SCRAPE_PAGES=Your_Max_Scrape_Pages